pipeline/pratica_03.json
{
	"name": "pratica_03",
	"properties": {
		"description": "PRATICA 03\n\n1 - CRIAR UM PIPELINE CHAMADO PRATICA_03 PARA REALIZAR OS SEGUINTES PASSOS:\n1.1 - RETORNAR AS TABELAS DO SCHEMA SALESLT UTILIZANDO O LOOKUP - ok\n1.2 - PASSAR OS ITENS LISTADOS PARA O FOR EACH - ok\n1.3 - COPIAR OS DADOS DE CADA TABELA DA ITERAÇÃO PARA ARQUIVOS PARQUET - ok\n1.4 - OS ARQUIVOS DEVEM SER ARMAZENADOS EM UMA SUB-PASTA CHAMADA TABLES_SQL DENTRO DO CONTAINER PARQUETFILES - ok\n2 - VERIFICAR SE OS DADOS FORAM GERADOS NO CONTAINER - ok\n\nSCRIPT LOOKUP\n---------------------------------\nSELECT TABLE_SCHEMA, TABLE_NAME\nFROM INFORMATION_SCHEMA.TABLES \n  WHERE TABLE_TYPE='BASE TABLE'\n  and TABLE_SCHEMA = 'SalesLT'\n\nCAMINHO CONTAINER\n----------------------------------\nparquetfiles/TABLE_SQL/",
		"activities": [
			{
				"name": "lista_tabela",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select table_schema, table_name\nfrom information_schema.tables\nwhere table_type = 'base table'\nand table_schema = 'SalesLT'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_generico_azuresql",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "*",
							"tableName": "*"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "loop_tabela",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lista_tabela",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lista_tabela').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "db_to_parquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_generico_azuresql",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": {
											"value": "@item().table_schema",
											"type": "Expression"
										},
										"tableName": "@item().table_name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_generico_parquet",
									"type": "DatasetReference",
									"parameters": {
										"container": "parquetfiles/table_sql/",
										"folder": "*",
										"file": "@item().table_name"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "pipe_adf_init_udemy_luiz_santana/adf_handson_01"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-20T19:41:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}