pipeline/pratica_01.json
{
	"name": "pratica_01",
	"properties": {
		"description": "PRATICA 01\n\n1 - CRIAR UMA FOLDER CHAMADA adf_03_handson01 - ok\n2 - CRIAR UM CONTAINER NO DATA LAKE CHAMADO parquetfiles - ok\n3 - CRIAR UM DATASET PARA OS ARQUIVOS PARQUET - ok\n4 - CRIAR UM PIPELINE PARA REALIZAR OS SEGUINTES PASSOS:\n4.1 - LER OS ARQUIVOS CSV COM O GET METADATA - ok\n4.2 - REMOVER O ARQUIVO MOVIESDB DA LISTA UTILIZANDO O FILTER - ok\n4.3 - PASSAR OS ITENS FILTRADOS PARA O FOR EACH - ok\n4.4 - COPIAR OS ARQUIVOS CSV PARA O FORMATO PARQUET ARMAZENANDO DENTRO DO CONTAINER CHAMADO PARQUETFILES UTILIZANDO O COPY DATA\n\nparameter do campo file do dataset parquet: @concat(dataset().fileName,'.parquet')\ncondição filter: @not(equals(item().name,'moviesDB.csv'))\nremoção do csv no for each: @replace(item().name, '.csv', '')",
		"activities": [
			{
				"name": "ler csv",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_generico_csv",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "csvfiles",
							"fileName": "*",
							"separatorName": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "filtrar moviesDB",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "ler csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ler csv').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(equals(item().name,'moviesDB.csv'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "lista de csv",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "filtrar moviesDB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('filtrar moviesDB').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "csv_to_parquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_generico_csv",
									"type": "DatasetReference",
									"parameters": {
										"containerName": "csvfiles",
										"fileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"separatorName": ";"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_generico_parquet",
									"type": "DatasetReference",
									"parameters": {
										"container": "parquetfiles",
										"folder": "*",
										"file": "@replace(item().name,'.csv','')"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "pipe_adf_init_udemy_luiz_santana/adf_handson_01"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-20T19:41:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}